- var fourArray = data.reduce(function(result, value, index, array) {
-       if (index % 4 === 0) result.push(array.slice(index, index + 4));
-       return result;
-   }, []);
.ma-episode-list-container-recommend
    section
        h2.ma-episode-list-recommend-title-card-list-section
            span Recommend
        .ma-card-list-column(role='list')
            each val in fourArray
                .ma-card-list-column-row
                    each item in val
                        - var {title, anime_id, thumb, slug} = item
                        .ma-card-list-column-item(role='listitem' style='width: calc(25%);')
                            .ma-card
                                a.ma-link-block.ma-outline(href=`/anime/${anime_id}/${slug}` tabindex='0' aria-hidden='false' aria-disabled='false')
                                    .ma-card-inner
                                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                                            - thumb = proxyimg(thumb)
                                            img.ma-m-thumbnail-image(alt=title srcset=thumb+'?w=242&h=136&f=webp 1x, '+thumb+'?w=484&h=272&f=webp 2x' loading='lazy' src=thumb+'?w=242&h=136&f=webp')
                                        .ma-card-list-column-caption
                                            .ma-card-list-column-caption-inner
                                                p.ma-card-title
                                                    span.ma-collapsed-text-container(style='line-height: 1.5; max-height: 1.5em; -webkit-line-clamp: 1;') #{title}
                                                if(item.new)
                                                    p.ma-newest-label New Episode