.ma-anime-info.mb-5
    .ma-anime-section
        .ma-anime-thumb-info-column
            .ma-anime-thumb-info
                - var thumb = anime.thumbPortrait
                - thumb = proxyimg(thumb)
                img.ma-anime-thumb-image(alt=anime.title srcset=thumb+'?w=240&h=341&f=webp&q=85 1x, '+thumb+'?w=480&h=682&f=webp&q=85 2x' src=thumb + '?w=240&h=341&f=webp&q=85')
        .ma-anime-details-info
            h1.ma-anime-title-info #{anime.title}
            p.ma-anime-genre-info #{Array.prototype.map.call(genres, s => s.title).join(", ")}
            p.ma-anime-caption-info #{anime.jp_title}#{anime.en_title ? ", " + anime.en_title : ""}
            #ma-readmore-content-info.ma-anime-content-info(data-trigger='false')
                p.ma-anime-content-section-info.ma-readmore !{anime.description}
            div.ma-readmore-button-section
                div#ma-readmore-button.btn.ma-readmore-button(type='button') Show more
            .ma-share
                ul.ma-share-container
                    li.ma-share-item(tabindex='-1')
                        .ma-share-button-section(onclick="socialShare('twit', '"+anime.title+"', window.location.href)")
                            div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                                svg.ma-share-twitter-icon(aria-label='')
                                    use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                        span.ma-share-label Twitter
                    li.ma-share-item(tabindex='-1')
                        .ma-share-button-section(onclick="socialShare('fb', null, window.location.href)")
                            div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                                svg.ma-share-facebook-icon(aria-label='')
                                    use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                        span.ma-share-label Facebook