.ma-anime-info
    - var {title, anime_id, thumb, description, jp_title, en_title} = anime
    article.ma-anime-section-mobile
        .ma-anime-section-image-mobile
            .ma-anime-section-mobile-card-img
                .ma-m-thumbnail.ma-m-thumbnail-loaded
                    - thumb = proxyimg(thumb)
                    img.ma-m-thumbnail-image(alt=title srcset=thumb+'?h=136&f=webp&q=85 1x, '+thumb+'?h=272&f=webp&q=85 2x' src=thumb+'?h=136&f=webp&q=85')
                    .ma-m-thumbnail-image.ma-m-thumbnail-play-mobile
        .ma-anime-section-content-mobile
            header.ma-anime-section-content-header-mobile
                h1.ma-anime-section-content-title #{title}
                p.ma-anime-section-content-meta #{Array.prototype.map.call(genres, s => s.title).join(", ")}
            .ma-anime-details-block-mobile
                p.ma-anime-caption-info.ma-anime-caption-info-mobile #{jp_title}#{en_title ? ", " + en_title : ""}
                .ma-anime-description-mobile
                    .ma-anime-description-content-mobile.ma-anime-description-content-mobile-collapsed(style='height:60px')
                        p.ma-anime-content-section-info #{description}
                    .ma-readmore-button-wrapper
                        div.btn.ma-readmore-button-mobile
                            span Show more
            .ma-anime-section-socical-mobile
                ul.ma-share-container
                    li.ma-share-item(tabindex='-1')
                        .ma-share-button-section(onclick="socialShare('twit', '"+anime.title+"', window.location.href)")
                            div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                                svg.ma-share-twitter-icon(aria-label='')
                                    use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                        span.ma-share-label Twitter
                    li.ma-share-item(tabindex='-1')
                        .ma-share-button-section(onclick="socialShare('fb', null, window.location.href)")
                            div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                                svg.ma-share-facebook-icon(aria-label='')
                                    use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                        span.ma-share-label Facebook
                    li.ma-share-item(tabindex='-1')
                        .ma-share-button-section(onclick="socialShare('line', null, window.location.href)")
                            div.btn.ma-share-line-button(aria-label='Facebook' type='button' tabindex='-1')
                                svg.ma-share-line-button-icon(aria-label='')
                                    use(xlink:href='/imgs/icons/line.svg?v=v20.227.5#svg-body')
                        span.ma-share-label LINE
