.card.ma-card
    a.ma-link-block(href=`/anime/${anime_id}/${slug}`)
        - thumb = proxyimg(thumb)
        img.card-img-top(data-lazy=thumb alt=title)
        .card-body
            h5.card-title.ma-card-title
                span.ma-collapsed-text-container(style="line-height: 1.5; max-height: 1.5em; -webkit-line-clamp: 1;") #{title}
            if(isNew)
                p.card-text.ma-newest-label New Episode