.ma-card
    a.ma-link-block(href=`/anime/${anime_id}/${slug}`)
        .ma-card-inner
            .ma-m-thumbnail.ma-m-thumbnail-loaded
                img.ma-m-thumbnail-image(alt=title, srcset=thumb+'?h=136&f=webp 1x, '+thumb+'?h=272&f=webp 2x' loading='lazy', src=thumb+ '?h=136&f=webp')
            .ma-card-list-column-caption
                .ma-card-list-column-caption-inner
                    p.ma-card-title
                        span.ma-collapsed-text-container(style='line-height: 1.5; max-height: 3em; -webkit-line-clamp: 2;') #{title}
                    if(isNew)
                        p.ma-newest-label New Episode
