.card.ma-card.mb-3.d-flex.flex-column(style="max-height:88px;")
    a.ma-link-block(href=`/anime/${anime_id}/${slug}`)
        .ma-card-small
            .ma-card-small-thumb
                - thumb = proxyimg(thumb)
                img.card-img(alt=title srcset=thumb +'?w=128&h=72&f=webp 1x, '+thumb+'?w=256&h=144&f=webp 2x' loading='lazy' data-lazy=thumb+'?w=128&h=72&f=webp')
            .ma-card-small-rank
                p #{rank}
            .ma-card-small-title.ma-collapsed-text-container(style="line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;")
                p #{title}
