.card.ma-card
    a.ma-link-block(href=`/anime/${anime_id}/${slug}`)
        img.card-img-top(src=thumb alt=title)
        .card-body
            h5.card-title.ma-card-title
                span.ma-1-line-text #{title}
            if(isNew)
                p.card-text.ma-newest-label New Episode