.ma-episode-details-container
    section.ma-episode-section-mobile
        .ma-episode-section-main-mobile
            header.ma-episode-section-header-mobile
                div.btn.ma-episode-section-header-inner-mobile
                    .ma-episode-section-header-texts
                        .ma-episode-details-title-block
                            p.ma-episode-details-anime-title.ma-episode-details-anime-title-mobile #{anime.title}
                            h1.ma-episode-details-title.ma-episode-details-title-mobile Episode #{episode.number} - #{episode.caption}
                            p.ma-episode-details-supplement.ma-episode-details-supplement-mobile
                                span.ma-episode-details-supplement-item #{episode.views} Views
                            p.ma-episode-details-lang-text.ma-episode-details-lang-text-mobile
                                span.ma-episode-list-lang-text
                                    each lang in episode.sources
                                        span.ma-episode-list-lang-label.ma-episode-list-lang-label-mobile #{lang.subtitle}
                    .ma-readmore-button-section-mobile
                        svg#ma-dropdown-details.ma-episode-details-dropdown.ma-episode-details-dropdown-collapsed(height='100%' role='img' width='100%')
                            use(xlink:href='/imgs/icons/dropdown.svg#svg-body')
            .ma-episode-section-details-mobile.ma-episode-section-details-mobile-collapsed(aria-hidden='true')
                #ma-readmore-content-info
                    .ma-episode-details-readmore-block
                        section.ma-episode-details-readmore-block-section
                            h2.ma-episode-details-readmore-block-title.ma-font-15.ma-color-e6
                                span Infomation
                        if(thumbs && thumbs.length > 0)        
                            section.ma-episode-details-readmore-block-section.ma-episode-details-readmore-block-thumbnails
                                each thumb in thumbs
                                    .ma-episode-details-readmore-block-thumbnail.ma-m-thumbnail
                                        img.ma-m-thumbnail-image(alt=anime.title srcset=thumb+'?w=200&h=112&f=webp 1x, '+thumb+'?w=200&h=112&f=webp 2x' loading='lazy' src=thumb+'?w=200&h=112&f=webp')
                        p.ma-episode-details-block-content
                            span.ma-color-e6.ma-font-14 #{episode.description}  
            section.ma-episode-section-episode-list-mobile
                .ma-episode-section-episode-list-header-mobile
                    h3.ma-episode-section-episode-list-title-mobile #{episodeList.caption}
                    a.ma-link.ma-link-inline(href=`/anime/${anime.anime_id}/${anime.slug}`)
                        span.ma-episode-section-link-to-anime See more
                ul.ma-episode-list-mobile.ma-non-list.p-0
                    - var data = episodeList.items
                    - var {title, anime_id, slug} = anime
                    each val in data
                        - var {thumbnail, number, sources} = val
                        - title = title + " Eps. " + number
                        - if(!thumbnail) thumbnail = "//localhost:5001/view/31/ce7608ca494a5d448a6f775cda17b270.png"
                        - thumb = thumbnail
                        li.ma-episode-list-mobile-item
                            a.ma-link-block(href=`/anime/${anime_id}/${slug}/episode/${number}`)
                                .ma-episode-list-mobile-item-inner
                                    .ma-episode-list-thumbnail-mobile
                                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                                            img.ma-m-thumbnail-image(alt=title srcset=thumb+'?w=128&h=72&f=webp 1x, '+thumb+'?w=256&h=144&f=webp 2x' loading='lazy' src=thumb+'?w=128&h=72&f=webp')
                                            .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                                                span.ma-m-play-icon.ma-m-play-icon-small
                                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                                    .ma-episode-list-caption-mobile
                                        p.ma-episode-list-title-mobile
                                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') #{title}
                                        p.ma-episode-list-lang-text-mobile
                                            span.ma-episode-list-lang-text
                                                each lang in sources
                                                    span.ma-episode-list-lang-label.ma-episode-list-lang-label-mobile #{lang.subtitle}
            .ma-episode-section-buttons
                .d-flex
                    ul.ma-share-container
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section(onclick="socialShare('twit', '"+anime.title+"', window.location.href)")
                                div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                                    svg.ma-share-twitter-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                            span.ma-share-label Twitter
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section(onclick="socialShare('fb', null, window.location.href)")
                                div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                                    svg.ma-share-facebook-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                            span.ma-share-label Facebook
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section(onclick="socialShare('line', null, window.location.href)")
                                div.btn.ma-share-line-button(aria-label='Facebook' type='button' tabindex='-1')
                                    svg.ma-share-line-button-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/line.svg?v=v20.227.5#svg-body')
                            span.ma-share-label LINE
            - var data = recommend
            include ./animeRecMobile