#{"div id=" +id }
    - var {title, anime_id, slug} = anime
    - var isNew = anime.new
    each val in data
        .ma-carousel-card-wrapper
            - var index = val.number
            - var {thumbnail, number} = val
            - var titleEp = title + " Eps. " + number
            - if(!thumbnail) thumbnail = "//localhost:5001/view/31/ce7608ca494a5d448a6f775cda17b270.png"
            - thumb = thumbnail + "?w=484&h=272&f=webp"
            .card.ma-card
                a.ma-link-block(href=`/anime/${anime_id}/${slug}/episode/${number}`)
                    img.card-img-top(src=thumb alt=titleEp)
                    .card-body
                        h5.card-title.ma-card-title
                            span.ma-1-line-text #{titleEp}
                        if(isNew)
                            p.card-text.ma-newest-label New Episode
script.
    var id = "#{id}"
    carouselCallback(id, 4)