.ma-episode-details-container
    div
        header.d-flex
            .ma-episode-details-header-left
                .ma-episode-details-title-block
                    p.ma-episode-details-anime-title #{anime.title}
                    h1.ma-episode-details-title Episode #{episode.number} - #{episode.caption}
                    p.ma-episode-details-supplement
                        span.ma-episode-details-supplement-item #{episode.views} Views
                    p.ma-episode-details-lang-text
                        span.ma-episode-list-lang-text
                            each lang in episode.sources
                                span.ma-episode-list-lang-label #{lang.subtitle}
                .ma-episode-details-readmore-details
                    #ma-readmore-content-info.ma-episode-details-readmore(data-trigger='false')
                        .ma-episode-details-readmore-inner.ma-readmore
                            .ma-episode-details-readmore-block
                                section.ma-episode-details-readmore-block-section
                                    h2.ma-episode-details-readmore-block-title.ma-font-16.ma-color-e6
                                        span Infomation
                                if(thumbs && thumbs.length > 0)
                                    section.ma-episode-details-readmore-block-section.ma-episode-details-readmore-block-thumbnails
                                        .ma-episode-details-readmore-block-thumbnail.ma-m-thumbnail.ma-m-thumbnail-loaded
                                            each thumb in thumbs
                                                img.ma-m-thumbnail-image(alt=anime.title srcset=thumb+'?w=200&h=112&f=webp 1x, '+thumb+'?w=200&h=112&f=webp 2x' loading='lazy' src=thumb+'?w=200&h=112&f=webp')
                                p.ma-episode-details-block-content
                                    span.ma-color-e6.ma-font-14 #{episode.description}
                                p.ma-episode-details-block-content
                                    - var {title, en_title, jp_title} = anime
                                    each hashtag in [title + " english subbed", title + " hd quality", title +" chinese subbed", title + " streaming", title +" episode "+episode.number, en_title, jp_title ]
                                        span.ma-color-e6.ma-font-14 
                                            a(href='') ##{hashtag}
                    p.ma-readmore-button-section
                        div#ma-readmore-button.btn.ma-readmore-button(type='button') Show more
            .ma-episode-details-header-right
                .d-inline-block
                    ul.d-flex.justify-content-between
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section(onclick="socialShare('twit', '"+anime.title+"', window.location.href)")
                                div.btn.ma-share-twitter-button(aria-label='Twitter' type='button' tabindex='-1')
                                    svg.ma-share-twitter-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/twitter.svg?v=v20.227.5#svg-body')
                            span.ma-share-label Twitter
                        li.ma-share-item(tabindex='-1')
                            .ma-share-button-section(onclick="socialShare('fb', null, window.location.href)")
                                div.btn.ma-share-facebook-button(aria-label='Facebook' type='button' tabindex='-1')
                                    svg.ma-share-facebook-icon(aria-label='')
                                        use(xlink:href='/imgs/icons/facebook.svg?v=v20.227.5#svg-body')
                            span.ma-share-label Facebook
        .ma-episode-section-wrapper
            section.ma-episode-list-carousel
                div.ma-carousel-section-header
                    h1.ma-carousel-section-text #{episodeList.caption}
                    .ma-more-link-wrapper
                        a.ma-link.ma-link-inline(href=`/anime/${anime.anime_id}/${anime.slug}`)
                            span.ma-more-link-block
                                span.ma-more-link-text Watch more
                                span.ma-more-link-arrow
                                    svg.ma-more-link-svg.ma-icon-symbol(aria-label='' height='100%' role='img' width='100%')
                                        use(xlink:href='/imgs/icons/arrow_right.svg#svg-body')
                - var id = "episode-list"
                - var data = episodeList.items
                div.content-section
                    include ./episodeListCarousel
        .ma-episode-section-wrapper
            section
                h2.ma-episode-list-recommend-title-card-list-section
                    span Genre Recommended
                .ma-card-list-column(role='list')
                    - var data = recommend
                    - var fourArray = data.reduce(function(result, value, index, array) {if (index % 4 === 0) result.push(array.slice(index, index + 4)); return result;}, []);   
                    each val in fourArray
                        .ma-card-list-column-row
                            each item in val
                                .ma-card-list-column-item(role='listitem' style='width: calc(25%);')
                                    .ma-card
                                        - var {title, anime_id, slug, thumb} = item
                                        a.ma-link-block(href=`/anime/${anime_id}/${slug}` tabindex='0')
                                            .ma-card-inner
                                                .ma-m-thumbnail.ma-m-thumbnail-loaded
                                                    img.ma-m-thumbnail-image(alt=title srcset=thumb+'?w=242&h=136&f=webp 1x, '+thumb+'?w=484&h=272&f=webp 2x' loading='lazy' src=thumb+'?w=242&h=136&f=webp')
                                                    .d-none.ma-m-thumbnail-play
                                                        span.ma-m-play-icon
                                                            svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                                                use(xlink:href='/imgs/icons/playback.svg?v=v20.227.5#svg-body')
                                                .ma-card-list-column-caption
                                                    .ma-card-list-column-caption-inner
                                                        p.ma-card-title
                                                            span.ma-collapsed-text-container(style='line-height: 1.5; max-height: 1.5em; -webkit-line-clamp: 1;') #{title}
                                                        p.ma-newest-label New Episode