.ma-ranking-mobile-type-tab-container
    ul.ma-ranking-type-tablist.ma-non-list(role='tablist')
        li.ma-ranking-type-tablist-item(role='tab' aria-selected='true')
            a.ma-ranking-type-tablist-link.ma-link.ma-outline(href='/ranking/views') by Views
        li.ma-ranking-type-tablist-item(role='tab' aria-selected='false')
            a.ma-ranking-type-tablist-link.ma-link.ma-outline(href='/ranking/favorites') by Favorites
    .ma-ranking-mobile-selector
        .ma-select-menu
            .ma-select-menu-mobile
                p.ma-select-menu-mobile-label
                    span.ma-select-menu-mobile-label-text All
                    svg.ma-select-menu-mobile-icon.ma-icon-symbol(aria-label='' height='5' role='img' width='8')
                        use(xlink:href='/imgs/icons/dropdown.svg#svg-body')
                select.ma-select-menu-mobile-select(onchange="location = this.value;")
                    option(value="?g=all") All
                    each genre in genres
                        option(value="?g="+genre.genre_id) #{genre.title}
.ma-ranking-mobile-ranking-list
    each val, index in data
        - var {title, anime_id, thumb, slug} = val
        .ma-ranking-mobile-ranking-list-item
            a.ma-link-block(href=`/anime/${anime_id}/${slug}`)
                .ma-ranking-mobile-ranking-list-item-inner
                    .ma-ranking-mobile-ranking-list-item-thumbnail
                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                            img.ma-m-thumbnail-image(alt=title srcset=thumb+'?w=128&h=72&f=webp 1x, '+thumb+'?w=256&h=144&f=webp 2x' loading='lazy' src=thumb+'?w=128&h=72&f=webp')
                            .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                                span.ma-m-play-icon.ma-m-play-icon-small
                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                    .ma-ranking-mobile-ranking-list-item-body
                        .ma-ranking-mobile-ranking-heading-wrapper
                            h2.ma-ranking-mobile-ranking-heading
                                span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') #{index + 1}. #{title}
.ma-mobile-ranking-channel-list
    .ma-mobile-genre-list-wapper
        .ma-mobile-genre-list-title
            h3.ma-font-14.ma-color-e6 Rank by genre
        ul.ma-mobile-genre-list.ma-non-list(role='tablist')
            each genre in genres
                li.ma-mobile-genre-list-item(role='tab')
                    a.ma-mobile-genre-list-label.ma-link-block.ma-link-dim(href="?g="+genre.genre_id) #{genre.title}