<!DOCTYPE html>
html(lang="en" style="overflow-x:hidden;")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title #{settings.site_title} - #{pageTitle}
        style.
            body{margin:0;}body{background-color:#d9d9d9;color: #111111;}a{color: #4907de;}a:visited{color:rgba(73,7,222, 0.7);}a:hover {color: rgba(73,7,222, 0.5);}
        link(href='/dist/calendar.min.css?v=1' rel='stylesheet')
        - var description = "BakadoraTV the latest Spring 2020 anime calendar."
        meta(name='description' content=description)
        meta(property='fb:pages' content='469597040116400')
        meta(property='fb:app_id' content='2167104370235589')
        meta(property='og:site_name' content='BakadoraTV')
        meta(property='og:title', content=`${settings.site_title} - ${pageTitle}`)
        meta(property='og:url' content=url)
        meta(property='og:image' content='')
        meta(property='og:description', content=description)
        meta(property='og:type' content='video.episode')
        meta(property='twitter:card' content='summary_large_image')
        meta(property='twitter:site' content='@myanime_co')
        meta(property='twitter:url' content=url)
        meta(property='twitter:image' content='')
        meta(property='twitter:description', content=description)
        meta(property='twitter:title' content=`${settings.site_title} - ${pageTitle}`)
        meta(property='twitter:app:country' content='US')
    body
        script(type='text/javascript' src='/mod/jquery-3.4.1/jquery-3.4.1.slim.min.js')
        p(style='opacity:0;width:0;height:0;overflow:hidden;') New Anime Update Calendar on BakadoraTV
        header.animated.fadeIn
            h1.logo
                span
                    a(href="/")
                        img(src='/imgs/logo-default.png' alt='BakadoraTV')
            .h_wrap
                .h_inner
                    p.h_tx
                        span #
                        | #{current_season} Anime Release
                    .h_t
                        h1 New Anime Update Calendar
        #ma-day.week.animated.fadeIn
            ul
                li
                    a(href='/calendar/sunday') Su
                li
                    a(href='/calendar/monday') Mo
                li
                    a(href='/calendar/tuesday') Tu
                li
                    a(href='/calendar/wednesday') We
                li
                    a(href='/calendar/thursday') Th
                li
                    a(href='/calendar/friday') Fr
                li
                    a(href='/calendar/saturday') Sa
        each item in calendar
            - var aniIdx = animes.findIndex(x => x.anime_id === item.anime)
            - var anime = animes[aniIdx]
            article.main
                h1 #{item.start_time.split(":")[0]}
                    br
                    span JST
                section
                    ul
                        li
                            a(href=`/anime/${anime.anime_id}/${anime.slug}`)
                                figure
                                    img(src=anime.thumb+'?w=400&h=255&f=webp&q=80')
                                div
                                    h2
                                        span.title #{item.start_time} - #{item.end_time}           
                                    p.detail-txt #{anime.title}
        .week.animated.fadeIn
            .wrap
                h2.c_h
                    | Week Recommended
                // 20
                .c_twenty
                    ul.t_i
                        each week in weekRecommend
                            li
                                a(href=`/anime/${week.anime_id}/${week.slug}`)
                                    img(src=week.thumbPortrait+'?w=400&h=569&f=webp&q=80')
                h2.c_h.c_h_m More Recommended
                // 20
                .c_twenty
                    ul.t_i
                        each more in moreRecommend
                            li
                                a(href=`/anime/${more.anime_id}/${more.slug}`)
                                    img(src=more.thumbPortrait+'?w=400&h=569&f=webp&q=80')
script.
    var pathname = window.location.pathname;
    $('#ma-day ul li a[href="' + pathname + '"]').parent().addClass('active');