extends ./layouts/default
append head
    - var description = "BakadoraTV introduces free video seasons for anime! Check out popular anime videos now!"
    meta(name='description' content=description)
    meta(property='fb:pages' content='469597040116400')
    meta(property='fb:app_id' content='2167104370235589')
    meta(property='og:site_name' content='BakadoraTV')
    meta(property='og:title', content=`${settings.site_title} - ${pageTitle}`)
    meta(property='og:url' content=url)
    meta(property='og:image' content='')
    meta(property='og:description', content=description)
    meta(property='og:type' content='video.episode')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:site' content='@myanime_co')
    meta(property='twitter:url' content=url)
    meta(property='twitter:image' content='')
    meta(property='twitter:description', content=description)
    meta(property='twitter:title' content=`${settings.site_title} - ${pageTitle}`)
    meta(property='twitter:app:country' content='US')
block content
    div.container.ma-container-mobile
        - var breadcrumb = [{title: 'Home', href: '/' }, {title: pageTitle}]
        - var data = seasons
        if(isMobile)  
            .ma-ranking-mobile-type-tab-container
                ul.ma-ranking-type-tablist.ma-non-list(role='tablist')
                    li.ma-ranking-type-tablist-item(role='tab' aria-selected='true')
                        a.ma-ranking-type-tablist-link.ma-link.ma-outline(href=`/season/${slug}/views`) by Views
                    li.ma-ranking-type-tablist-item(role='tab' aria-selected='false')
                        a.ma-ranking-type-tablist-link.ma-link.ma-outline(href=`/season/${slug}/favorites`) by Favorites   
            .ma-ranking-mobile-ranking-list
                each val, index in data
                    - var {title, anime_id, thumb, slug} = val
                    .ma-ranking-mobile-ranking-list-item
                        a.ma-link-block(href=`/anime/${anime_id}/${slug}`)
                            .ma-ranking-mobile-ranking-list-item-inner
                                .ma-ranking-mobile-ranking-list-item-thumbnail
                                    .ma-m-thumbnail.ma-m-thumbnail-loaded
                                        - thumb = proxyimg(thumb)
                                        img.ma-m-thumbnail-image(alt=title srcset=thumb+'?w=128&h=72&f=webp&q=85 1x, '+thumb+'?w=256&h=144&f=webp&q=85 2x' loading='lazy' src=thumb+'?w=128&h=72&f=webp&q=85')
                                        .ma-m-thumbnail-play.ma-m-thumbnail-play-mobile
                                            span.ma-m-play-icon.ma-m-play-icon-small
                                                svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                                    use(xlink:href='/imgs/icons/playback.svg#svg-body')
                                .ma-ranking-mobile-ranking-list-item-body
                                    .ma-ranking-mobile-ranking-heading-wrapper
                                        h2.ma-ranking-mobile-ranking-heading
                                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 3.9em; -webkit-line-clamp: 3;') #{index + 1}. #{title}
            include ./components/breadcrumb
        else  
            include ./components/breadcrumb
            h1.ma-pageTitle Season #{pageTitle}
            .ma-ranking-body
                .ma-ranking-type
                    ul.ma-ranking-type-tablist.ma-non-list(role='tablist')
                        li.ma-ranking-type-tablist-item(role='tab' aria-selected='true')
                            a.ma-ranking-type-tablist-link.ma-link.ma-outline(href=`/season/${slug}/views`) by Views
                        li.ma-ranking-type-tablist-item(role='tab' aria-selected='false')
                            a.ma-ranking-type-tablist-link.ma-link.ma-outline(href=`/season/${slug}/favorites`) by Favorites
                .ma-ranking-list
                    each val, index in data
                        - var {title, anime_id, thumb, slug} = val
                        .ma-ranking-list-item
                            a.ma-link-block(href=`/anime/${anime_id}/${slug}`)
                                .ma-ranking-list-item-inner
                                    .ma-ranking-list-item-thumbnail
                                        .ma-m-thumbnail.ma-m-thumbnail-loaded
                                            - thumb = proxyimg(thumb)
                                            img.ma-m-thumbnail-image(alt=title srcset=thumb+'?w=192&h=108&f=webp&q=85 1x, '+thumb+'?w=384&h=216&f=webp&q=85 2x' loading='lazy' src=thumb+'?=192&h=108&f=webp&q=85')
                                            .ma-m-thumbnail-play.ma-m-thumbnail-play-desktop
                                                span.ma-m-play-icon
                                                    svg.ma-symbol(aria-label='' width='100%' height='100%' role='img' focusable='false')
                                                        use(xlink:href='/imgs/icons/playback.svg#svg-body')
                                    .ma-ranking-list-item-body
                                        span.ma-ranking-list-item-rank #{index + 1}
                                        h2.ma-ranking-list-item-heading
                                            span.ma-collapsed-text-container(style='line-height: 1.3; max-height: 2.6em; -webkit-line-clamp: 2;') #{title}