extends ./layouts/default
append head
    link(rel='stylesheet' href='/dist/mod/videojs/videojs.min.css')
    link(rel='stylesheet' href='/dist/mod/videojs/vsplugins.min.css')
    link(rel='stylesheet' href='/dist/mod/videojs/resume.min.css')
    - var description = "If you want watching anime "+ anime.title + " the world's fastest free anime number #1. BakadoraTV! From the masterpiece that you absolutely want to see, to the latest hot topic, the lineup is enhanced!"
    meta(name='description' content=description)
    meta(property='fb:pages' content='469597040116400')
    meta(property='fb:app_id' content='2167104370235589')
    meta(property='og:site_name' content='BakadoraTV')
    meta(property='og:title', content=`${settings.site_title} - ${pageTitle}`)
    meta(property='og:url' content=url)
    meta(property='og:image' content='')
    meta(property='og:description', content=description)
    meta(property='og:type' content='video.episode')
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:site' content='@myanime_co')
    meta(property='twitter:url' content=url)
    meta(property='twitter:image' content='')
    meta(property='twitter:description', content=description)
    meta(property='twitter:title' content=`${settings.site_title} - ${pageTitle}`)
    meta(property='twitter:app:country' content='US')
    script(type='text/javascript' src='//imasdk.googleapis.com/js/sdkloader/ima3.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/store.js/1.3.17/store.min.js')
    script(type='text/javascript' src='//st.bebi.com/bebi_v3.js')
    script(type='text/javascript' src='/dist/mod/videojs/videojs.min.js')
    script(type='text/javascript' src='/mod/videojs/ads/contrib.min.js')
    script(type='text/javascript' src='/dist/mod/videojs/ads/videojs-ima.min.js')
    script(type='text/javascript' src='/dist/mod/videojs/videojs-logo.min.js')
    script(type='text/javascript' src='/dist/mod/videojs/resume.min.js')
block content
    script(type='text/javascript' src='/dist/mod/videojs/core.min.js')
    div.ma-container.ma-container-mobile
        div
            - var breadcrumb = [{title: 'Home', href: '/' },{title: anime.title, href: `/anime/${anime.anime_id}/${anime.slug}`},{title: episode.caption ? episode.caption : "Episode " + episode.number}]
            if(isMobile)
                .custom-control.custom-switch
                    input#ma-autoPlay.custom-control-input(type='checkbox')
                    label.custom-control-label(for='ma-autoPlay') Auto Play
                include ./components/player
                include ./components/episodeDetailsMobile
                include ./components/breadcrumb
            else
                include ./components/breadcrumb
                .custom-control.custom-switch
                    input#ma-autoPlay.custom-control-input(type='checkbox')
                    label.custom-control-label(for='ma-autoPlay') Auto Play
                include ./components/player
                include ./components/episodeDetails